@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);

  /* Semantic Colors */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  
  /* Component Colors */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-glow: var(--card-glow);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-navbar-ring: var(--navbar-ring);
  --color-navbar-border: var(--navbar-border);
  --color-navbar-accent-foreground: var(--navbar-accent-foreground);
  --color-navbar-accent: var(--navbar-accent);
  --color-navbar-primary-foreground: var(--navbar-primary-foreground);
  --color-navbar-primary: var(--navbar-primary);
  --color-navbar-foreground: var(--navbar-foreground);
  --color-navbar: var(--navbar);
  --color-spinner: var(--spinner);
  --color-banner-title: var(--banner-title);
  --color-banner-title-glow: var(--banner-title-glow);
  
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.25 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --muted: oklch(1 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(1 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --border: oklch(0.922 0 0);

  /* Semantic */
  --primary: oklch(0.20 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.35 0 0);
  --secondary-foreground: oklch(1 0 0);
  --success: oklch(0.65 0.20 166);
  --success-foreground: oklch(0.98 0 0);
  --warning: oklch(0.75 0.18 70);
  --warning-foreground: oklch(0.98 0 0);
  --info: oklch(0.60 0.20 250);
  --info-foreground: oklch(0.98 0 0);
  --error: oklch(0.62 0.25 25);
  --error-foreground: oklch(0.98 0 0);

  /* Components */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --card-glow: oklch(0.00% 0.000 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --navbar: oklch(96% 0.000 250);
  --navbar-foreground: oklch(0.145 0 0);
  --navbar-primary: oklch(0.205 0 0);
  --navbar-primary-foreground: oklch(0.985 0 0);
  --navbar-accent: oklch(1 0 0);
  --navbar-accent-foreground: oklch(0.205 0 0);
  --navbar-border: oklch(0.922 0 0);
  --navbar-ring: oklch(0.708 0 0);
  --spinner: oklch(0.20 0 0);
  --banner-title: oklch(0.95 0 0);
  --banner-title-glow: oklch(0.1 0.018 250);
}

.dark {
  --background: oklch(0.18 0.02 250);
  --foreground: oklch(0.95 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.95 0 0);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.95 0 0);
  --border: oklch(1 0 0 / 22%);

  /* Semantic */
  --primary: oklch(0.95 0 0);
  --primary-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.75 0 0);
  --secondary-foreground: oklch(0.145 0 0);
  --success: oklch(0.67 0.22 166);
  --success-foreground: oklch(0.95 0 0);
  --warning: oklch(0.78 0.20 70);
  --warning-foreground: oklch(0.95 0 0);
  --info: oklch(0.63 0.22 250);
  --info-foreground: oklch(0.95 0 0);
  --error: oklch(0.65 0.27 25);
  --error-foreground: oklch(0.95 0 0);

  /* Components */
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.95 0 0);
  --card-glow: oklch(0.95 0 0);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --navbar: oklch(0.1 0.018 250); 
  --navbar-foreground: oklch(0.95 0 0);
  --navbar-primary: oklch(0.488 0.243 264.376);
  --navbar-primary-foreground: oklch(0.95 0 0);
  --navbar-accent: oklch(0.1763 0.014 258.36); 
  --navbar-accent-foreground: oklch(0.95 0 0);
  --navbar-border: oklch(1 0 0 / 10%);
  --navbar-ring: oklch(0.556 0 0);
  --spinner: oklch(0.95 0 0);
  --banner-title: oklch(0.95 0 0);
  --banner-title-glow: oklch(0.1 0.018 250);

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
